@charset "utf-8";
body{
	
	background-color:#0C3; 
	background-image:url('./he-mat-troi.jpg'); 
/*	background-repeat:no-repeat; */
/*	background-position:50px 50px;*/
/*	background-origin:padding-box; */
	background-size:cover; 

/*  dùng ShortHand */
/*	background:#0F0 url('./he-mat-troi.jpg') repeat-x left top; */
/*	background:#0F0 url('./he-mat-troi.jpg') no-repeat 10px 50px; */

/*	dùng ảnh chồng chéo*/
/*	background: url('./he-mat-troi.jpg') no-repeat left top, url('./he-mat-troi.jpg') no-repeat bottom right;*/
}
#div1{
	width:700px;
	height:500px;	
	position:relative; /*chỉ định nó là 1 viewbox*/ 
	left:100px;
	top:100px;
	z-index:10;
}
#div2{
	width:200px;
	height:500px;
	background-color:#0C0;
	position:absolute;
	left:180px;
	top:150px;
	z-index:6;
}
#div3{
	width:200px;
	height:200px;
	background-color:#F00;
	position:fixed;
	left:300px;
	top:100px;
	z-index:1000;
}