@charset "utf-8";
/* CSS Document */
body{
	margin: 50px;
}

div{
	width:100%;
	height:100vh;
	border: 10px solid transparent; /* màu trong suốt */
	border-image:url('border.png') 30 round;
	
	background:
		url('./he-mat-troi.jpg') left top no-repeat,
		url('./xu-ly-mau.jpg') bottom right no-repeat;
		
	background-blend-mode: screen;
}
	
