@charset "utf-8";
/* CSS Document */
#panel{
	margin:50px 0 0 50px;
	width:400px;
	border: 2px solid #00F;
	outline:2px solid #F00;
}
#trai{
	width: 50px;
	height:80px;
	background-color:#0F0;
	float: left;
}
#xoa{
/*	width:50px;
	height:80px;
	background-color:#00F; */
	clear:both;
}
#xoa_1{
	clear:both;
}

